/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: grey;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: "Arial";
}

body > .container {
  padding: 65px 10px 0;
}

body > .row {
  margin: 10px;
}

html {
  min-height: 100%;
  position: relative;
  width: 100%;
}

.center_text_images {
  margin: auto;
  text-align: center;
}

ul {
  list-style-position: inside;
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
}

ol {
  list-style-position: inside;
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
}

.left_align_highlight {
  background-color: black;
  color: white;
  font-family: "Ubuntu";
  font-size: 100%;
  font-weight: 900;
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
}

.under_line {
  color: red;
  text-decoration: underline;
}

.basic_tab {
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
}

/* Get new tile space CSS */
#get_new_tile {
  background-color: black;
  color: white;
  font-family: "Ubuntu";
  font-size: 150%;
  font-weight: 900;
  text-align: center;
  border-radius: 10px;
}

table {
  border: solid 5px black;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

td {
  background: #D2B48C;
  border: solid 2px white;
  height: 50px;
  width: 50px;
  z-index: 3;
}

/* For the "Letters Remaining" Table */
table#letters_remain {
  border: solid 2px blue;
}

/* For the "Letters Remaining" section */
td.larger_td {
  background: black;      /* Text properties */
  color: white;
  font-size: 150%;
  text-align: center;      /* Center text */
  border: solid 2px blue;
  height: 50px;
  width: 50px;
}

/* Special spaces text */
.cell_style {
  display: block;
  position: relative;
  z-index: 0;

  color: black;
  font-family: "Ubuntu";
  font-size: 80%;
  font-weight: bold;
  text-align: center;
}

/* Double / Triple letter CSS */
.double_letter {
  /*background: #0080ff; */
  background: url("img/scrabble/double_letter.png");
}

.triple_letter {
  /* background: blue;  */
  background: url("img/scrabble/triple_letter.png");
}

/* Double / Triple word CSS */
.double_word {
  /*background: #e5acb6;*/
  background: url("img/scrabble/double_word.png");
}

.triple_word {
  /*background: red;*/
  background: url("img/scrabble/triple_word.png");
}

.resize_board {
  height: 125px;
  width: auto;
}

.pieces {
  position: absolute;
  height: 40px;
  width: 40px;
  z-index: 9999;
}

.highlight_centered {
  font-family: "Arial";
  color: white;
  padding: 20px;
  background-color: black;
  border-radius: 20px;
}

/* For messages to user on the right side of the page. */
.highlight_centered_smaller {
  background-color: black;
  color: white;
  font-family: "Ubuntu";
  font-size: 150%;
  font-weight: 900;
  text-align: center;
}

/* Success version of the error message. */
.highlight_centered_success {
  background-color: black;
  color: white;
  font-family: "Ubuntu";
  font-size: 150%;
  font-weight: 900;
  text-align: center;
  border-radius: 20px;
}

/* Success button, let's the user save the word and play another one. */
.smaller_button {
  color: black;
  font-family: "Ubuntu";
  font-size: 60%;
  font-weight: 900;
  text-align: center;
  height: 50px;
  width: 150px;
}

button {
  color: black;
  font-family: "Advent Pro";
  font-size: 150%;
  font-weight: 900;
  text-align: center;
  height: 75px;
  width: 120px;
}

.divider {
  width: 15px;
  height: auto;
  display: inline-block;
}

.space_top {
  margin-top: 20px;
}

/* Assignment title */
.highlight_fun {
  color: white;
  font-family: "Sigmar One";
  font-size: 40%;
  padding-left: 5px;
  padding-right: 5px;
}

.about {
  color: white;
  text-align: center;
}

.center_text {
  color: white;
  font-family: "Advent Pro";
  font-size: 200%;
  font-weight: 900;
  text-align: center;
}

.center_text_nohighlight {
  color: black;
  font-size: 200%;
  text-align: center;
}

.center_text_small {
  color: white;
  font-family: "Advent Pro";
  font-size: 120%;
  font-weight: 900;
  text-align: center;
}

h1.name {
  color: white;
  font-family: "Ubuntu";
  font-size: 750%;
  text-align: center;
}

.highlight {
  background-color: black;
}
